.vscode
backend/characterRecognition/datasets/*
backend/characterRecognition/datasets/printed/*
backend/temp/*

backend/preprocessing/textbounding/images
backend/preprocessing/textbounding/output
__pycache__

