<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">

    <ion-card class="card">
      <ion-img [src]="uploadedImg"></ion-img>
      <ion-card-header>
        <ion-card-title><strong>Ready to import an image?</strong></ion-card-title>
        <ion-card-subtitle>Select a file under the PNG or PDF format</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content >       
        <ion-grid class="custom">
          <ion-row class="ion-text-start"> <input type="file" accept="image/*" (change)="selectImage($event)"> </ion-row>
            <ion-row class="ion-text-start">
            <ion-item fill="solid" >
              <ion-label position="floating">Select a name for your file</ion-label>
              <ion-input type="text" placeholder="Your name" [(ngModel)]="imageName" ></ion-input>
            </ion-item>  
          </ion-row >
        </ion-grid>
      </ion-card-content>
      <ion-button (click)="submitForm()">Submit</ion-button>
    </ion-card>
    
      
  </div>
</ion-content>
